.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#singleBlock {
  display:inline-block;
  width:18px;
  height:22px;
  border-radius: 1px;;
  font-family:'Orbitron', sans-serif;
  vertical-align: middle;
}

#singleBlock div {
  background-image: url('../src/img/012.jpg');
  display:inline-block;
  width:18px;
  height:22px;
  border-radius: 1px;;
  font-family:'Orbitron', sans-serif;
  display: table-cell;
  vertical-align: middle;
}

.turnPaper {
  animation: turnPaper-spin 200ms linear; 
}

.reversePaper {
  animation: reversePaper-spin 200ms linear;
}

.suffix {
  vertical-align: middle;
  font-family: 'Anton', sans-serif;
  font-size: 80%;
}

.eventInfo {
  font-family: 'Press Start 2P', cursive;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes turnPaper-spin {
  0%   {transform: scale(1,1);}
  25%  {transform: scale(1,0.5);}
  50%  {transform: scale(1,0);}
  60%  {transform: scale(1,0.5);}
  70%  {transform: scale(1,1);}
  85%  {transform: scale(1,0.7);}
  100% {transform: scale(1,1);}
}

@keyframes reversePaper-spin {
  0%   {transform: scale(1,1);}
  25%  {transform: scale(1,0.5);}
  50%  {transform: scale(1,0);}
  60%  {transform: scale(1,0.5);}
  70%  {transform: scale(1,1);}
  85%  {transform: scale(1,0.7);}
  100% {transform: scale(1,1);}
}